gnlStationTester/
lib/
a.out
.temp/
.gdbinit
1char.txt
a.out
empty.txt
giant_line.txt
giant_line_nl.txt
gnlTester/
lines_around_10.txt
one_line_no_nl.txt
only_nl.txt
read_error.txt
variable_nls.txt
multiple_nl.txt
